- if current_user.tweeter.token?
  .hero-unit
    = link_to 'Images!', 'javascript:', class: 'btn btn-warning', id: 'toggle_images'
  %table{width: "100%", cellpadding: '2'}
    %tr
      - i = 0
      - @tweets.home_timeline(count: 100).each do |tweet|
        %td
          %table.cribber_block{cellpadding: '2'}
            %tr
              %td
                = image_tag tweet['user']['profile_image_url']
              %td.cribber_text
                = tweet["text"]
        - i += 1
        - if i%2 == 0
          %tr

- else
  .blank_50
    = link_to 'Authorize Tweet account', @request_token.authorize_url, class: 'btn btn-info fl_right'
