.hero-unit.hero_panel
  = form_tag post_tweet_path do
    = text_area_tag :send_tweet, nil, placeholder: 'publish tweet'
    = button_tag content_tag(:div, ( content_tag(:i, nil, class: 'icon-fire') + content_tag(:b, 140) ), id: 'post_tweet'), class: 'btn-large btn-primary'
.row-fluid
  .span12
    - ( tweets = current_user.tweets.order("created_at DESC") ).each_index do |i|
      - next if i.odd?
      .row-fluid
        - tweets[i..(i+1)].each do |tweet|
          .span6.cribber_block
            .row-fluid
              .span1
                - image_url = Image.find_by_twitter_id(tweet.twitter_id).tweet_img(:tiny)
                - if File.readable?(Rails.public_path + image_url.gsub(/\?\d+/, ''))
                  = image_tag image_url
                - else
                  = image_tag 'default_image.png'
              .span11
                .row-fluid
                  %b
                    = tweet.user_name
                  %span{class: :grey_text}
                    = tweet.user_screen_name
                  - if tweet.is_retweeted?
                    %span{class: :grey_text}
                      %i{class: 'icon-chevron-left'}
                      = tweet.retweeter_screen_name
                  %span.fl_right.tweet_actions
                    %i{class: 'icon-download-alt open_links', title: 'Open all links'}
                    - if false
                      = link_to content_tag(:i, '', class: 'icon-trash'), delete_tweet_path(tweet), remote: :true, confirm: "Delete this post?", method: :delete
                    = link_to content_tag(:i, '', class: 'icon-retweet'), retweet_path(tweet.tweet_id), remote: :true, confirm: "Retweet this post?", title: 'retweet'
                .row-fluid
                  .cribber_text
                    = tweet.text
