.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-circle-arrow-down.icon-white
      = link_to 'Cribber', 'javascript:', class: 'brand'
      - if current_user
        .btn-group.pull-right
          %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            = current_user.name
            %span{class: :caret}
          %ul{class: 'dropdown-menu'}
            %li
              = link_to 'logout', logout_path, title: :logout
            %li{class: 'divider'}
            %li
              = link_to 'purge images', purge_images_path
            %li{class: 'divider'}
            %li
              = link_to 'purge tweets', destroy_all_tweets_path
      .nav-collapse.collapse
        %ul.nav.nav-pills
          - if current_user.try(:is_admin)
            %li.active
              = link_to 'Admin Tweet Credentials', admin_credentials_path
          - elsif current_user
            %li{class: ("active" if params[:action] == 'tweets')}
              = link_to 'Tweets', tweets_path
            %li{class: ("active" if ['new', 'edit'].include? params[:action])}
              = link_to 'Edit Account', edit_user_path(current_user)
            - if current_user.tweeter.token?
              %li
                = link_to 'Change Tweet account', twitter_credentials_path
                

