.top_blank
%table{width: "100%", cellpadding: '2'}
  %tr
    - i = 0
    - @tweets.friends_timeline.each do |tweet|
      %td
        %table.cribber_block{cellpadding: '2'}
          %tr
            %td
              = image_tag tweet['user']['profile_image_url']
            %td.cribber_text
              = tweet["text"]
      - i += 1
      - if i%2 == 0
        %tr

- unless current_user.tweeter.token?
  .actions
    = link_to 'Authorize Twitter account', @request_token.authorize_url, class: 'btn btn-info'  
