/*
 *= require_self
 *= require bootstrap
 *= require responsive
 *= require_tree .  */

body
  padding-top: 50px
  padding-bottom: 40px
.blank_block
  height: 245px
.blank_50
  height: 50px
.p_absolute
  position: absolute
.center-text
  text-align: center
.centered
  margin: auto
  position: relative
  left: 0
  right: 0
  bottom: 0
  top: 0
  text-align: center        
.fl_right
  float: right
.grey_text
  color: gray
