.cribber_block
  border-radius: 5px
  padding: 4px
  &:hover
    cursor: pointer
.cribber_selected
  background-color: 'lightgreen'
  border-radius: 5px
.tweet_actions
  border-radius: 5px
  padding: 0 5px
  &:hover
    background-color: lightgray
    box-shadow: -2px 4px 5px
